<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>StudentName</th>
            <th>Add Score</th>
        </tr>
        <%data.forEach(el => {%>
            <tr>
                <td><%=el.id%></td>
                <td><%=el.StudentName%> </td>
                <td><a href="/addScore/<%=el.id%>">add Score</a></td>
            </tr>
        <%})%>
    </table>
</body>
</html>