<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/AddScore" method="POST">
        <select name="NameLesson">
            <%data.forEach(el => {%>
                <option value="<%=el.id%>"><%=el.NameLesson%></option>
                <%})%>
            </select>
            <input type="submit" value="submit">
    </form>
    <table>
        <tr>
            <th>Lesson</th>
            <th>Student</th>
            <th>Nilai</th>
            <th>Action</th>
        </tr>
        <%data.forEach(el => {%>
            <tr>
                <td><%=el.NameLesson%></td>
                <td><h1><%=el.Students[0].StudentName%></h1></td>
            </tr>
        <%})%>
    </table>

</body>
</html>