<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/addScore/<%=data.id%>" method="POST">
        <select name="lesson" >
            <%data.Lessons.forEach(el => {%>
                <option value="<%=el.id%>"><%=el.NameLesson%></option>
            <%})%>
        </select>
        <input type="number" name="nilai" >
        <input type="submit" value="submit">
    </form>
</body>
</html>