<html>
    <head>
        <title></title>
    </head>
    <body>
        <head>
            <a href="/addScore">Add Score</a>
            <a href="/admission">Admission</a>
            <a href="/lesson">Add Lesson</a>
        </head>
        <main>
            <table width="100%">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Average Score</th>
                        <th>Add Mapel</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(student => { %>
                        <tr>
                            <td><%= student.StudentName %></td>
                            <td><%= student.totalScore %></td>
                            <td><a href="/student/<%= student.id %>/edit">Edit</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </main>

    </body>
</html>