<html>
    <head>
        <title></title>
    </head>
    <body>
        <head>
            <a href="/sendEmail">send</a>
            <a href="/parentdata">Parent Data</a>
        </head>
    </body>
</html>